Hi Traveller, 

<dl> You are going from <%=@cleaned_address%> to <%= @formatted_name%> </dl>



<dl>Current security line wait time at <%= @formatted_name%> is <%=@security_wait_time%> minutes</dl>

<dl>Current driving time from your address to <%= @formatted_name%> is <%= @drive_time_mins%> minutes</dl>


<dl>The total time to get from your front door to your gate at the aiport is <u><strong> <%=@total_wait_time%> minutes </strong></u>(excluding parking and walking through terminal)</dl>


<a href= "/">
Back to homepage!
</a>
